.head-nav {
  background-color: #050505;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.barra-nav {
  background-color: #050505;
  margin-bottom: 25px;
}

.custom-nav-link {
  background-color: #050505;
  color: #f6f6f6;
}
.custom-nav-link:hover {
  border: 0.5px solid #f6f6f6;
  color: #f6f6f6;
}
.custom-icon {
  font-size: 50px;
}
